:root{
  --black: #000000;
  --blue: #92DCE5;
  --white: #EEE5E9;
  --gray: #7C7C7C;
  --red: #D64933;
}

body{
   
}
.pf{
}

#image{
  margin: 0;  
  padding: 5px;
  border: 0.5px solid black;
  order: 0; 
}

nav{
  display: flex;
}

li {
  list-style: none;
  display: inline;
  float: left;
}

li a{
  margin-right: 10px;
  color: var(--blue);
}

li a:hover{
  color: var(--black);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pg{
  text-align: center;
  background-color: ;
  margin-left: 35%;
  margin-right: 35%;  
  display:flex;
  flex-direction: column;
  align-items: center;
}
